.profile {
  text-align: center;
  margin-bottom: 20px;
}

.foto {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  border-radius: 40%; /* Para uma imagem de perfil redonda */
  border: 2px solid #fff; /* Adicione uma borda branca à imagem */
  margin: 0 auto; /* Centralize a imagem horizontalmente */
}

#nome {
  text-align: center;
  color: black;
  font-size: 24px;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.backcolor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* Cor de fundo suave, por exemplo, cinza claro */
  color: #333; /* Cor de texto */
  font-family: Arial, sans-serif; /* Fonte padrão */
}
.color {
  color: black;
}
